<div class="relative h-screen bg-slate-300 flex flex-col justify-center">
  <div class="w-4/5 h-5/6 ml-auto mr-auto flex flex-col gap-6">
    <div class="rounded border-2 border-black flex-1 flex flex-col justify-center text-center bg-black relative">
      <span class="text-white text-9xl">
        {{words[index]?.original}}
      </span>
      <span class="text-white text-4xl" *ngIf="index > 0">
        {{words[index -1]?.original}} ({{words[index -1]?.romaji}})
      </span>
      <button type="button" class="absolute right-3 top-3" (click)="updateMode=true">
      	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
        </svg>
      </button>
      <span class="text-white absolute left-3 top-3">
        {{index+1}}/{{words.length}}
      </span>
    </div>
    <ng-select (change)="goTo($event)" appendTo="body" placeholder="quick search" class="border-2 border-black p-3 rounded-md" [items]="dropDownValue">
    </ng-select>
    <div class="flex flex-row gap-3">
      <button [disabled]="index === 0" (click)="setNewIndex('previously')" class="bg-black rounded-full p-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>
      </button>
      <button (click)="setForget()" class="p-3 flex-1 rounded-md bg-black text-white">
        忘れちゃった
      </button>
      <button class="bg-black rounded-full p-3" (click)="setNewIndex('next')">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
        </svg>
      </button>
      <button (click)="viewResult()" class="bg-black rounded-full p-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
        </svg>
      </button>
      <button class="bg-black rounded-full p-3" (click)="submitMode=true">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      </button>
      <button class="bg-black rounded-full p-3" (click)="delete(words[index].id)">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
        </svg>
      </button>
    </div>
  </div>
  
  <div *ngIf="submitMode || updateMode" class="absolute w-full h-full bg-black opacity-80 flex flex-col justify-center ">
  </div>
  <div *ngIf="submitMode" class="absolute w-full h-full flex flex-col justify-center ">
    <form (submit)="submit()" class="relative w-4/5 rounded-md ml-auto mr-auto bg-white shadow-3xl rounded-md p-6 flex flex-col gap-3">
    	<h1>Submit</h1>
      <textarea rows="10" #word [(ngModel)]="newWord" name="newWord" type="text" placeholder="put many data at once here" class="p-3 rounded-md border-2 border-black"></textarea>
      <button [disabled]="inSubmitProcess" type="submit" class="p-3 bg-black text-white">{{inSubmitProcess ? 'please wait':'submit'}}</button>
      <button type="button" class="p-3 bg-black text-white" (click)="tidy()">Tidy</button>
      <button type="button" (click)="submitMode=false" class="absolute top-5 right-5">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>

    </form>
  </div>
  <div *ngIf="updateMode" class="absolute w-full h-full flex flex-col justify-center ">
    <form (submit)="update()" class="relative rounded-md ml-auto mr-auto bg-white shadow-3xl rounded-md p-6 flex flex-col gap-3">
    	<h1>Update</h1>
      <input [(ngModel)]="updateValue.original" name="original" type="text" class="p-3 rounded-md border-2 border-black">
      <input [(ngModel)]="updateValue.romaji" name="romaji" type="text" class="p-3 rounded-md border-2 border-black">
      <input [(ngModel)]="updateValue.mean" name="mean" type="text" class="p-3 rounded-md border-2 border-black">
      <input [(ngModel)]="updateValue.hiragana" name="hiragana" type="text" class="p-3 rounded-md border-2 border-black">
      
      <button type="submit" class="p-3 bg-black text-white">Submit</button>
      <button (click)="updateMode=false" type="button" class="absolute top-5 right-5">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    </form>
  </div>
</div>

