<div class="flex flex-col gap-3 p-3" *ngIf="quickSearchMode" >
  <div class="flex flex-row gap-3">

    <input 
      type="text"
      [(ngModel)]="filter"
      placeholder="quick search with {{searchType}}"
      class="border-2 border-black p-3 w-full outline-none rounded-md"
    >

    <select class="w-[200px] p-3 rounded-sm">
      <option (click)="searchType=`romaji`">Romaji</option>
      <option (click)="searchType=`kanji`">Kanji</option>      
    </select>

  </div>

  <table class="min-w-full border border-gray-200 shadow-md overflow-hidden">
    <thead class="text-gray-700">
      <tr>
        <th class="text-left px-6 py-3 text-sm font-semibold uppercase">No.</th>        
        <th class="text-left px-6 py-3 text-sm font-semibold uppercase">Original</th>
        <th class="text-left px-6 py-3 text-sm font-semibold uppercase">Romaji</th>
        <th class="text-left px-6 py-3 text-sm font-semibold uppercase">Mean</th>
        <th class="text-left px-6 py-3 text-sm font-semibold uppercase"></th>
      </tr>
    </thead>
    <tbody *ngIf="filter.length < 1" class="text-gray-800">
      @for(i of words; let index = $index; track i ){
        <tr class="border-t border-gray-200 hover:bg-gray-50">
          <td class="px-6 py-4">{{index+1}}</td>        
          <td (click)="goTo(i.original)" class="px-6 py-4 font-bold hover:cursor-pointer">{{i.original}}</td>
          <td class="px-6 py-4">{{i.romaji}}</td>
          <td class="px-6 py-4">{{i.mean}}</td>
          <td class="flex flex-row gap-2 items-center h-[50px]">
            <button class="bg-black rounded-full p-1 active:bg-red-900" (click)="compare(i)">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 text-white">
                <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
             </svg>
            </button>
            <button class="bg-black rounded-full p-1 active:bg-red-900" (click)="copy(i.original)">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 text-white">
                <path fill-rule="evenodd" d="M13.887 3.182c.396.037.79.08 1.183.128C16.194 3.45 17 4.414 17 5.517V16.75A2.25 2.25 0 0 1 14.75 19h-9.5A2.25 2.25 0 0 1 3 16.75V5.517c0-1.103.806-2.068 1.93-2.207.393-.048.787-.09 1.183-.128A3.001 3.001 0 0 1 9 1h2c1.373 0 2.531.923 2.887 2.182ZM7.5 4A1.5 1.5 0 0 1 9 2.5h2A1.5 1.5 0 0 1 12.5 4v.5h-5V4Z" clip-rule="evenodd" />
              </svg>           
            </button>
          </td>
        </tr> 
      }
    </tbody>
    <tbody *ngIf="filter.length > 0" class="text-gray-800">
      @for(i of words | quickSearch:{filter,searchType}; let index = $index; track i ){
        <tr class="border-t border-gray-200 hover:bg-gray-50">
          <td class="px-6 py-4">{{index+1}}</td>        
          <td (click)="goTo(i.original)" class="px-6 py-4 font-bold hover:cursor-pointer">{{i.original}}</td>
          <td class="px-6 py-4">{{i.romaji}}</td>
          <td class="px-6 py-4">{{i.mean}}</td>
          <td class="flex flex-row gap-2 items-center h-[50px]">
            <button class="bg-black rounded-full p-1 active:bg-red-900" (click)="compare(i)">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 text-white">
                <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
             </svg>
            </button>
            <button class="bg-black rounded-full p-1 active:bg-red-900" (click)="copy(i.original)">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 text-white">
                <path fill-rule="evenodd" d="M13.887 3.182c.396.037.79.08 1.183.128C16.194 3.45 17 4.414 17 5.517V16.75A2.25 2.25 0 0 1 14.75 19h-9.5A2.25 2.25 0 0 1 3 16.75V5.517c0-1.103.806-2.068 1.93-2.207.393-.048.787-.09 1.183-.128A3.001 3.001 0 0 1 9 1h2c1.373 0 2.531.923 2.887 2.182ZM7.5 4A1.5 1.5 0 0 1 9 2.5h2A1.5 1.5 0 0 1 12.5 4v.5h-5V4Z" clip-rule="evenodd" />
              </svg>           
            </button>
          </td>
        </tr> 
      }
    </tbody>
  </table>
</div>


<table *ngIf="exerciseMode === 'flashcard' &&  reviewMode" class="min-w-full border border-gray-200 shadow-md overflow-hidden">
  <thead class="text-gray-700">
    <tr>
    <th class="text-left px-6 py-3 text-sm font-semibold uppercase">Original</th>
    <th class="text-left px-6 py-3 text-sm font-semibold uppercase">Romaji</th>
    <th class="text-left px-6 py-3 text-sm font-semibold uppercase">Mean</th>
    </tr>
  </thead>
  <tbody class="text-gray-800">
    @for(i of forgottenWords; let index = $index; track i ){
      <tr class="border-t border-gray-200 hover:bg-gray-50">
        <td class="px-6 py-4 text-2xl">{{i.original}}</td>
        <td >{{i.romaji}}</td>
        <td>{{i.mean}}</td>
      </tr> 
    }
  </tbody>
</table>

<div *ngIf="exerciseMode === 'flashcard' && compareMode" class="relative h-screen bg-slate-300 flex flex-col justify-center">
  <div class="w-4/5 h-5/6 ml-auto mr-auto flex flex-col gap-6">
    <div class="rounded border-2 border-black flex-1 flex flex-row bg-black divide-x">
      @for(i of comparation; let index = $index; track i){
        <div class="flex-1 bg-black flex flex-col gap-3 justify-center text-center">
          <span class="text-white text-8xl">
            {{i.original}}
          </span>
          <span class="text-white text-6xl">
            {{i.romaji}}
          </span>
        </div>
      }
    </div>
  </div>
</div>



<div *ngIf="exerciseMode === 'flashcard' && !reviewMode && !quickSearchMode && !compareMode" class="relative h-screen bg-slate-300 flex flex-col justify-center">
  <div class="w-4/5 h-5/6 ml-auto mr-auto flex flex-col gap-6">
    <div class="rounded border-2 border-black flex-1 flex flex-row bg-black divide-x">
      <div class="flex-1 bg-gray-600 flex flex-col gap-3 justify-center text-center" *ngIf="index>0">
        <span class="text-white text-8xl">
          {{words[index-1]?.original}}
        </span>
        <span class="text-white text-6xl">
          {{words[index-1]?.romaji}}
        </span>
        <span class="text-white text-6xl">
          {{words[index-1]?.mean}}
        </span>
      </div>
      <div class="flex-1 flex flex-col gap-3 justify-center text-center relative">
        <span class="text-white text-8xl">
          {{words[index]?.original}}
        </span>
        <span class="absolute top-5 left-5 text-white">
          {{index+1}} / {{words.length}}
        </span> 
        <button class="absolute top-5 right-5" (click)="updateMode=true">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
           <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
          </svg>
        </button>   
      </div>
    </div>
    <div class="flex flex-row gap-3">
      <button [disabled]="index === 0" (click)="setNewIndex('previously')" class="bg-black rounded-full p-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>
      </button>
      <button (click)="setForget()" class="p-3 flex-1 rounded-md bg-black text-white">
        忘れちゃった ({{forgottenWords.length}})
      </button>
      <button class="bg-black rounded-full p-3" (click)="setNewIndex('next')">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
        </svg>
      </button>
      <button (click)="viewResult()" class="bg-black rounded-full p-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
        </svg>
      </button>
      <button class="bg-black rounded-full p-3" (click)="submitMode=true">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      </button>
      <button class="bg-black rounded-full p-3" (click)="delete(words[index].id)">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
        </svg>
      </button>
    </div>
  </div>
  <div *ngIf="submitMode || updateMode" class="absolute w-full h-full bg-black opacity-80 flex flex-col justify-center ">
  </div>
  <div *ngIf="submitMode" class="absolute w-full h-full flex flex-col justify-center ">
    <form (submit)="submit()" class="relative w-4/5 rounded-md ml-auto mr-auto bg-white shadow-3xl rounded-md p-6 flex flex-col gap-3">
    	<h1>Submit</h1>
      <textarea rows="10" #word [(ngModel)]="newWord" name="newWord" type="text" placeholder="put many data at once here" class="p-3 rounded-md border-2 border-black"></textarea>
      <button [disabled]="inSubmitProcess" type="submit" class="p-3 bg-black text-white">{{inSubmitProcess ? 'please wait':'submit'}}</button>
      <button type="button" class="p-3 bg-black text-white" (click)="tidy()">Tidy</button>
      <button type="button" (click)="submitMode=false" class="absolute top-5 right-5">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    </form>
  </div>
  <div *ngIf="updateMode" class="absolute w-full h-full flex flex-col justify-center ">
    <form (submit)="update()" class="relative rounded-md ml-auto mr-auto bg-white shadow-3xl rounded-md p-6 flex flex-col gap-3">
    	<h1>Update</h1>
      <input [(ngModel)]="updateValue.original" name="original" type="text" class="p-3 rounded-md border-2 border-black">
      <input [(ngModel)]="updateValue.hiragana" name="hiragana" type="text" class="p-3 rounded-md border-2 border-black">
      <input [(ngModel)]="updateValue.romaji" name="romaji" type="text" class="p-3 rounded-md border-2 border-black">
      <input [(ngModel)]="updateValue.mean" name="mean" type="text" class="p-3 rounded-md border-2 border-black">
      
      <button type="submit" class="p-3 bg-black text-white">Submit</button>
      <button (click)="updateMode=false" type="button" class="absolute top-5 right-5">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    </form>
  </div>
</div>

<div *ngIf="exerciseMode === 'sentence' && !quickSearchMode" class="h-screen bg-slate-300 flex flex-col justify-center">
  <div class="w-4/5 h-5/6 ml-auto mr-auto flex flex-row gap-3">
    <div class="flex-1 flex flex-col gap-3">
      <textarea #sentenceRef [value]="sentence "class="rounded-md flex-1 p-4 overflow-auto">
      </textarea>
      <div *ngIf="answer.length > 0" class="flex flex-row gap-3">
        <div class="bg-black p-3 rounded-md flex-1 text-center">
          <span class="text-white">
            {{answer[0].original}} ({{answer[0].romaji}})
          </span>
        </div>
        <button class="bg-black text-white p-3 rounded-full" (click)="undo()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
          </svg>    
        </button>
      </div>
    </div>

    <div class="bg-black rounded-md p-3 overflow-auto flex-1 flex flex-col gap-3">
      <table class="text-white w-full">
        <thead>
          <tr>
            <th class="text-center px-6 py-3 text-sm font-semibold uppercase">No.</th>        
            <th class="text-center px-6 py-3 text-sm font-semibold uppercase">Original</th>
            <th class="text-center px-6 py-3 text-sm font-semibold uppercase">Romaji</th>
          </tr>
        </thead>
        <tbody>
          @for(i of answer; let index = $index; track i){
            <tr>
              <td class="text-center">{{index+1}}</td>
              <td class="text-center font-bold">{{i.original}}</td>
              <td class="text-center">{{i.romaji}}</td>
            </tr>
          }
        </tbody>
      </table> 

    </div>
  </div>
</div>
