<div class="p-3 flex flex-col gap-3">
  <input 
    type="text"
    [(ngModel)]="filter" 
    placeholder="quick search"
    class="border-2 border-black p-3 w-full outline-none rounded-md"
    (keyup)="onFilterChange($event)"
  >
  <table class="min-w-full border border-gray-200 shadow-md overflow-hidden">
    <thead class="text-gray-700">
      <tr>
        <th class="text-left px-6 py-3 text-sm font-semibold uppercase">No.</th>
        <th class="text-left px-6 py-3 text-sm font-semibold uppercase">Original</th>
        <th class="text-left px-6 py-3 text-sm font-semibold uppercase">Romaji</th>
        <th class="text-left px-6 py-3 text-sm font-semibold uppercase">Mean</th>        
       </tr>
    </thead>
    <tbody *ngIf="filter.length < 1" class="text-gray-800">
  	  @for(i of words; let index = $index; track i ){
  	    <tr class="border-t border-gray-200 hover:bg-gray-50">
          <td class="px-6 py-4">{{index+1}}</td>
          <td class="px-6 py-4 font-bold">{{i.original}} ({{i.hiragana}})</td>
          <td class="px-6 py-4">{{i.romaji}} </td>
          <td class="px-6 py-4">{{i.mean}}</td>
        </tr>
      }
    </tbody>
    <tbody *ngIf="filter.length > 0" class="text-gray-800">
      @for(i of filtered; let index = $index; track i ){
        <tr class="border-t border-gray-200 hover:bg-gray-50">
          <td class="px-6 py-4">{{index+1}}</td>
          <td class="px-6 py-4 font-bold">{{i.original}} ({{i.hiragana}})</td>
          <td class="px-6 py-4">{{i.romaji}} </td>
          <td class="px-6 py-4">{{i.mean}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>